/* change body colors */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  margin: 0;
  padding: 40px;
  color: #c6d311;
}

/* style for the div elements */
div {
    background: #3a3434;
    padding: 20px;
    margin: 20px;
}

/* headers */
h1 {
    text-align: center;
    color: yellow;
}
h2 {
    color: #070803;
}
/* buttons */
button {
    background: black;
    color: yellow;
}
/* form elements */
label {
    display: block;
    margin-top: 10px;
}
/* changes text fields */
input[type="text"]:focus {
  border-color: #4a90e2;
  outline: none;
}
